@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #000000;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}
